@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Lobster|Luckiest+Guy|Pacifico|Righteous&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

ul li {
  list-style: none;
}

nav {
  width: 100%;
  height: 60px;
  background: #3298dc;
  padding: 0 30px;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 18px;
  font-family: 'Righteous';
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-direction: column;
}

.search input {
  width: 100%;
  max-width: 260px;
  height: 40px;
  padding-left: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

.search button {
  padding: 0 10px;
  border: none;
  cursor: pointer;
  background: #F24130;
  color: #fff;
  width: 100%;
  max-width: 260px;
  height: 40px;
}

.search button {
  display: block;
}

.canceled {
  margin: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.user {
  border: 1px solid rgb(245, 244, 244);
  width: 100%;
  max-width: 210px;
  height: 280px;
  padding: 20px;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  margin-bottom: 20px;
}

.avatarImg {
  max-width: 150px;
  height: 150px;
  background-size: cover;
  border-radius: 100%;
}

.cancelLink {
  display: block;
  margin-top: 10px;
}

.user-not-found {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 12px;
}

/* Cancel */

.logo {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
}

/* User */

.userdiv {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
}

.user-profile {
  padding: 10px 2%;
  width: 20%;
  text-align: center;
}

.user-comments {
  width: 80%;
  padding: 10px 2%;
}

.user-profile img {
  width: 128px;
  height: 128px;
  border-radius: 50%;
}

.box-canceled {
  overflow: auto;
  width: 200px;
  height: 100px;
  background: #fff;
  margin: 10px;
  border: 1px solid rgba(160, 160, 160, 0.1);
}

/* Overlay */

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: none;
}


.overlay form {
  width: 350px;
  height: auto;
  background: #fff;
  padding: 10px;
  z-index: 999;
}

.overlay form textarea {
  resize: none;
  width: 100%;
  height: 180px;
  padding: 10px;
}

.overlay form button {
   height: 40px;
  background: #0540F2;
  width: 100%;
  color: #fff;
  border: 0;
  cursor: pointer;
}

.user-comments-int {
  display: flex;
  flex-wrap: wrap;
}

/* body */

.body {
  display: flex;
}

.body .findUsers {
  width: 50%;
}

.body .top10 {
  width: 50%;
  padding-top: 20px;
  display: flex;
  justify-content: left;
}

.body .top10 ul li {
  margin-bottom: 10px;
}

/* findUsers */

.findUsers {
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete {
  position: relative;
  right: -165px;
  top: -5px;
}

.button {
  margin-top: 5px;
}

.no-margin {
  margin-top: -20px;
} 

/* cancel */

.cancel {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.cancel input {
  margin: 10px 0;
}

.userNotFound {
  margin-top: -15px;
  font-size: 14px;
  
}

/* Medias queries */

@media screen and (max-width: 1024px) {
  .canceled {
    width: 60%;
    height: 630px;
    overflow-y: auto;
  }
  .top10 {
    width: 40%;
    justify-content: center;
  }
  .cancel {
    padding: 10px;
  }

  .userdiv {
    flex-direction: column;
    justify-content: center;
  }

  .user-profile {
    width: 100%;
  }

  .user-comments {
    width: 100%;
    text-align: center;
  }

  .box-canceled {
    width: 100%;
  }
}